.container {
    padding: 70px 15%;
    background-color: #012134;
    color: #fff;
    height: auto;
  }
  
  .cards {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 40px;
  }
  
  .card {
    background-color: #F1F1F1;
    color: #02253A;
    border-radius: 10px;
    padding: 60px 22px;
    width: 350px;
    height: 350px;
    box-shadow: -10px 10px 0px 0px #00C1F1;
    position: relative;
  }
  
  .card h3 {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  
  .card p {
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.2;
  }

  .projectButton {
    text-decoration: none;
    color: #fff;
  }
  
  @media (max-width: 992px) {
    .cards {
      flex-direction: column;
      align-items: center;
    }
  
    .card {
      width: 80%;
      height: auto;
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 768px) {
    .card {
      width: 90%;
    }
  }
  
  @media (max-width: 576px) {
    .card {
      width: 100%;
    }
  
    .card h3 {
        font-size: 1.1rem;
    }
  }
  