.container {
    padding: 160px 15% 100px 15%;
    background-color: #012134;
    color: #fff;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
  }
  
  .content {
    max-width: 50%;
  }
  
  .content h1 {
    font-size: 1.5rem;
    margin-bottom: 25px;
  }
  
  .content h2 {
    font-size: 150px;
    color: #00C1F1;
    margin-bottom: 25px;
  }
  
  .content p {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 25px;
    line-height: 50px;
  }
  
  .avatar {
    width: 484px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
  }

  .iconBox {
    background-color: #00C1F1;
    border: none;
    color: #fff;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 1.25rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-decoration: none; 
    display: inline-flex; 
    align-items: center;
  }
  
  .iconBox:hover {
    background-color: #019ECF;
  }
  
  @media (max-width: 1200px) {
    .content {
      padding-top: 3rem;
      max-width: 60%;
      text-align: center;
    }
  
    .content h2 {
      font-size: 120px;
    }
  
    .avatar {
      width: 400px;
      margin-top: 60px;
    }
  }
  
  @media (max-width: 992px) {
    .content {
      max-width: 70%;
    }
  
    .content h2 {
      font-size: 6.25rem;
    }
  
    .content p {
      font-size: 1.75rem;
      line-height: 40px;
    }
  
    .avatar {
      width: 300px;
    }

    .iconBox {
      margin: auto;
    }
  }
  
  @media (max-width: 768px) {
    .content {
      max-width: 100%;
    }
  
    .content h2 {
      font-size: 80px;
    }
  
    .content p {
      font-size: 1.5rem;
      line-height: 35px;
    }
  
    .avatar {
      width: 250px;
    }
  }
  
  @media (max-width: 576px) {
    .container {
      padding: 80px 5% 50px 5%;
    }
  
    .content h1 {
      font-size: 1.25rem;
    }
  
    .content h2 {
      font-size: 3.75rem;
    }
  
    .content p {
      font-size: 1.25rem;
      line-height: 30px;
    }
  
    .avatar {
      width: 200px;
    }
  }
  