.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 20px 15%;
    background-color: #002C45;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    width: 118px;
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  .hamburger i {
    font-size: 2rem;
    color: #fff;
  }
  
  .navbar {
    display: flex;
    align-items: center;
  }
  
  .navbar .navLink {
    font-size: 1.125rem;
    color: #fff;
    margin-left: 25px;
    padding: 6px 10px;
  }
  
  .navbar .navLink:hover {
    background-color: #00C1F1;
    border-radius: 20px;
    transition: background-color 0.3s;
  }
  
  @media (max-width: 1400px) {
    .navbar {
      position: fixed;
      top: 70px;
      left: 0;
      width: 100%;
      height: calc(100vh - 70px);
      flex-direction: column;
      background-color: #002C45;
      align-items: center;
      justify-content: center;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
    }
  
    .navbar.open {
      transform: translateX(0);
    }
  
    .navbar .navLink {
      margin: 15px 0;
      font-size: 1.5rem;
    }
  
    .hamburger {
      display: block;
    }
  }
  