.container {
  padding: 70px 15%;
  background-color: #02253A;
  color: #fff;
  height: auto;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.foto {
  width: 402px;
  border-radius: 20px;
  transform: scaleX(-1);
  position: relative;
  right: 100px;
}

.text {
  max-width: 639px;
  font-size: 1.125rem;
  line-height: 1.3;
}

.text p {
  margin-bottom: 1.5rem;
}

.highlight {
  color: #00C1F1;
}

@media (max-width: 1200px) {
  .container {
    padding: 50px 10%;
  }

  .content {
    flex-direction: column;
  }

  .foto {
    width: 100%;
    max-width: 300px;
    margin-right: 0;
    margin-bottom: 20px;
    right: 0;
  }

  .text {
    max-width: 80%;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 30px 5%;
  }

  .foto {
    max-width: 250px;
    margin-bottom: 10px;
  }
}
