.container {
    padding: 70px 15% 70px 15%;
    background-color: #02253A;
    color: #fff;
    height: auto;
    position: relative;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
  }
  
  .foto {
    width: 402px;
    border-radius: 20px;
    transform: scaleX(-1);
  }
  
  .text {
    max-width: 55%;
    font-size: 1.125rem;
    line-height: 1.3;
  }
  
  .text p {
    margin-bottom: 1.5rem;
  }
  
  .highlight {
    color: #00C1F1;
  }
  