.container {
  padding: 70px 0;
  background-color: #012134;
  color: #fff;
  height: auto;
  position: relative;
}

.slider {
  position: relative;
  overflow: hidden;
  margin-top: 40px;
}

.skillItem {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0E364F;
/*   width: 233px; */
  height: 72px;
/*   border-radius: 6px; */
}

.icon {
  width: auto;
  height: 48px;
}

.iconName {
  margin-top: 10px;
  padding-left: 20px;
  font-size: 16px;
}
