@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

a {
  text-decoration: none;
  overflow-x: hidden;
}

button {
  background-color: #00C1F1;
  border: none;
  color: #fff;
 padding: 15px 25px;
  border-radius: 5px;
  font-size: 1.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

button:hover {
  background-color: #019ECF;
}

.titleWrapper {
  position: relative;
  text-align: center;
}

.backgroundTitle {
  font-size: clamp(3rem, 10vw, 5.625rem);
  opacity: 0.1;
  margin: 0;
}

.foregroundTitle {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  color: #00C1F1;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

::-webkit-scrollbar{
  width: 6px;
  background-color: #012134;
  border: 5px solid #012134;
}

::-webkit-scrollbar-thumb{
  background-color: #00C1F1;
  border-radius: 50px;
}